/**********************/
/* feuille de style   */
/* sitmus.css         */
/* Pierre Contri      */
/* cree le 11/11/2005 */
/* mdf  le 29/02/2008 */
/**********************/

@import "menu.css";

/** Elements **/
/*
#divTitlePage {
  display: inline-block;
  color: #507896;
  background-color: transparent;
  width: calc(100% - 40px);
  border: 0px none;
  text-align: center;
  margin-top : 10px;
}
*/
/* #divMenu { */
#divMenu {
  display: none;
  visibility: hidden;
}

#divMiniMenu {
  /*position: absolute;
  top: 5px;
  left: 5px;*/
  padding: 5px;
  /*width: 35px;*/
  /*height: 20px;*/
  display: inline-block;
  visibility: visible;
  z-index: 3;
  background-color: #8888AA;
}

#divMiniMenu:hover {
  cursor: pointer;
}

.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
}

.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: white;
  box-shadow: 
    0 0.25em 0 0 white,
    0 0.5em 0 0 white;
}

/*
#divCorps {
  text-align: center;
  padding: 0px;
  margin: 0px;
  background-color: white;
}

#divPictureCorps {
  text-align: center;
  width: 98%;
  height: 98%;
  border: 0px none;
  margin: auto;
}

#divPictureTable {
  text-align: center;
  background-color: #D5DDE3;
  width: 500px;
  border: 0px none;
  margin: auto;
}

#idPage {
  overflow: auto;
  text-align: center;
  margin-top: 2px;
  padding: 10px;
  color: black;
  background-color : #D5DDE3;
}

#accesFile {
  text-align : left;
  border : 1px;
  border-style : solid;
  border-color : black;
  padding : 10px;
  margin : 0px;
}

#inputPageNb {
  width: 58px;
}

#boutonsPhotos {
  text-align: center;
  margin: 0px auto;
}
*/
/** Menu **/
div.nav>ul.nav {
  width: 100%;
}

div.nav>ul.nav>li.nav {
  list-style-position:inside;
}

div.nav>ul.nav {
  position: relative;
  text-align: left;
  vertical-align: baseline;
  width: 100%;
  display: block;
}

div.nav>ul.nav>li.tab {
  float: top;
  height: 17px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
  vertical-align: middle;
}

div.nav>ul.nav>li.tab>a {
}

div.nav>ul.nav>li.tab>ul.nav {
  position: relative;
  width: 200px;
  margin-left: 160px;
  margin-bottom: 0px;
  margin-right: -200px;
  text-align: left;
  visibility: hidden;
  display: none;
  vertical-align: middle;
  left: -20px;
  top: -32px;
}

div.nav>ul.nav>li.tab>ul.nav>li.tab {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 17px;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px dotted;
}

.titleCategory.selected {
  width: 100%;
  border: 0px none;
}
