/**********************/
/* feuille de style   */
/* top_menu.css       */
/* Pierre Contri      */
/* cree le 11/11/2005 */
/* mdf  le 06/04/2012 */
/**********************/

@import "menu.css";

/** body management for menu ie, ff **/
html>body>#divCorps {
  height: 90%;
  height: -moz-calc(100% - 50px);
  height: calc(100% - 50px);
  z-index: 1;
}

html>body>#divCorps>#idPage {
  height: 80%;
  height: -moz-calc(100% - 100px);
  height: calc(100% - 100px);
  z-index: 1;
}

/** Menu **/
div.nav>ul.nav>li.nav {
  margin-left: -1px;
}

div.nav>ul.nav>li.nav {
  float: left;
  list-style-position:inside;
}

div.nav>ul.nav {
  position: relative;
  text-align: left;
  vertical-align: baseline;
  width: 100%;
  float: top;
  height: 22px;
}

div.nav>ul.nav>li.tab {
  float: left;
  width: 160px;
  height: 21px;
  text-align: center;
  vertical-align: middle;
}

div.nav>ul.nav>li.tab.unselected {
  margin-left: -1px;
  border-left: 1px solid;
  border-bottom: 1px solid;
}

div.nav>ul.nav>li.tab.unselected:first-child {
  margin-left: 0px;
  border-left: 0px none;
}

div.nav>ul.nav>li.tab.selected {
  margin-top: -2px;
  height: 23px;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
}

div.nav>ul.nav>li.tab.selected:first-child {
  margin-left: 0px;
  border-left: 1px solid;
}

div.nav>ul.nav>li.tab.selected + li.tab.unselected {
  margin-left: 0px;
  border-left: 0px none;
}

div.nav>ul.nav>li.tab:last-child {
  float: top;
}

div.nav>ul.nav>li.tab>ul.nav {
  position: relative;
  width: 180px;
  margin-left: -1px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-top: 0px solid;
  text-align: left;
  visibility: hidden;
  display: none;
  vertical-align: middle;
}

div.nav>ul.nav>li.tab>ul.nav>li.tab {
  width: 100%;
  height: 20px;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px dotted;
}

div.nav>ul.nav>li.tab>ul.nav>li.tab:last-child {
  border-bottom: 0px none;
}

div.nav>ul.nav>li.tab>ul.nav>li.tab>a {
  padding-left: 10px;
  padding-right: 10px;
}

.titleCategory.selected {
  width: 100%;
  border: 0px none;
}

.w3valid {
  width: 100%;
}
