/**********************/
/* feuille de style   */
/* multimedia.css     */
/* Pierre Contri      */
/* cree le 12/08/2011 */
/* mdf  le 12/08/2011 */
/**********************/

.divPictureTelecommand {
  position: relative;
  left: 0px;
  top: 0px;
  text-align: center;
  width: 360px;
  height: 20px;
  border: 0px none;
  margin: auto;
  padding: 0px;
  display: block;
  visibility: visible;
}

.btnDiapo {
  color : rgb(120,10,2);
  border-color: #6C8DA2;
  background-color: #BECBC5;
  border-style: solid;
  border-width: thin;
  height: 20px;
  text-align: center;
}

/** Multimedia **/
.buttonTel {
  height: 20px;
  width: 26px;
  
  color : black;
  border-color: #6C8DA2;
  background-color: rgb(235,235,235);
  border-style: solid;
  border-width: thin;
  text-align: center;
}

.inputTel {
  height: 14px;
  font-size: 11px;
  padding: 0px;
}

#bPreviousPicture {
  background-image: url(../../../images/multimedia/previous.gif);
}

#bRandomPicture {
  background-image: url(../../../images/multimedia/random.gif);
}

#bNextPicture {
  background-image: url(../../../images/multimedia/next.gif);
}

#bDelimentAuto {
}

.buttonTelAutoStart {
  height: 20px;
  width: 26px;
  
  color : rgb(120,10,2);
  border-color: #6C8DA2;
  background-color: #BECBC5;
  border-style: solid;
  border-width: thin;
  text-align: center;

  background-image: url(../../../images/multimedia/play.gif);
}

.buttonTelAutoStop {
  height: 20px;
  width: 26px;
  
  color : rgb(120,10,2);
  border-color: #6C8DA2;
  background-color: #BECBC5;
  border-style: solid;
  border-width: thin;
  text-align: center;

  background-image: url(../../../images/multimedia/stop.gif);
}

#inputPageNb {
  width: 58px;
}

#boutonsPictures {
  text-align: center;
  margin: 0px auto;
}

#isDiapo {
  margin-bottom: 5px;
}

#imgAqua {
  border: 0px none;
  height: 300px;
}

#defilTxt {
  width:100%;
  background-color: #A3B7B9;
  border-top: 1px solid #507896;
}

