/**********************/
/* feuille de style   */
/* images.css         */
/* Pierre Contri      */
/* cree le 12/08/2011 */
/* mdf  le 12/08/2011 */
/**********************/

IMG {
  border: 2px solid white;
  margin: auto;
}

.PictureContent {
  height : 320px;
  max-width: 320px;
  text-align : center;
  vertical-align : middle;
  border : 0px none;
}

DIV.PictureDocument IMG {
  margin: auto;
  max-height: 270px;
  max-width: 320px;
}

TD.PictureContent {
  text-align : center;
  border: 1px dashed #8CA5AF;
}

DIV.fullScreenPicture {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 5;
  background-color: black;
  text-align: center;
  vertical-align : middle;
  overflow: hidden;
  padding: 10px;
  padding-bottom: 0px;
}

DIV.fullScreenPicture IMG {
  max-height: 80%;
  max-width: 80%;

  max-height: calc(100% - 50px);

  margin: 0px;
}

DIV.picture {
  position: relative;
  text-align : center;
  border: 0px none;
  margin: auto;
  vertical-align: middle;
  padding: 4px;
}

#divPictureCorps {
  text-align: center;
  width: 90%;
  height: 90%;
  border: 0px none;
  margin: auto;
}