/**********************/
/* feuille de style   */
/* sitmus.css         */
/* Pierre Contri      */
/* cree le 11/11/2005 */
/* mdf  le 29/02/2008 */
/**********************/

/** Titres **/
H1 {
  color : black;
  background-color : #F5F5DC;
  text-align : center;
}

H2 {
  font-style : italic;
}

H3 {
  text-align : left;
  font-style : italic;
  font-size : 24px;
}

/** Liens **/
A {
  text-align : left;
  color : black;
  border-color: white;
}

A.aUnSelected {
  color : #780A02;
  background-color : #A3B7B9;
}

A.aUnSelected:hover {
  font-style : italic;
}

IMG {

}

/** Listes **/
UL {
  text-align: left;
}

OL {
  list-style-type: none;
  text-align: left;
}

/** corps **/
BODY {
  color: #000000;
  background-color: #507896;
  background-image: url(../images/portee8.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  margin: 0px;
}

/** Paragraphe **/
P, .paragrapheText {
  text-align: left;
  font-style: normal;
  color: #000000;
  background-color: #F5F5DC;
}

/** Blocs **/
/*
DIV.menu {
  text-align: center;
  font-size: 13px;
  margin: auto;
  z-index: 1;
}

DIV.onglets {
  position: relative;
  width: 800px;
  z-index: 2;
}

DIV.category {
  float: top;
  position: relative;
  width: 160px;
  padding: 2px;
  border-top: 0px none;
  border-left: 1px solid #507896;
  border-right: 1px solid #507896;
  border-bottom: 1px solid #507896;
  color : #780A02;
  background-color: #DAE0D0;
  text-align: left;
  visibility: hidden;
  display: none;
}
*/

DIV.menu {
  float: left;
  width: 800px;
  height: 50px;
  text-align: center;
  margin: 0px;
}

DIV.onglets {
  position: relative;
  width: 800px;
  height: 50px;
  margin: 0px;
  background-color: #507896;
  text-align: center;
  border: 2px #507896 solid;
  z-index: 2;
}

DIV.category {
  position: relative;
  margin-left: -1px;
  margin-right: -1px;
  padding-left: 2px;
  padding-right: 2px;
  border-top: 0px none;
  border-left: 1px solid #507896;
  border-right: 1px solid #507896;
  border-bottom: 1px solid #507896;
  color: black;
  color : #780A02;
  background-color: #DAE0D0;
  text-align: left;
  visibility: hidden;
  display: none;
  z-index: 3;
  /* opacity: 0.95; */
}

DIV.unSelected {
  float: left;
  width: 240px;
  height: 25px;
  background-color: #A3B7B9;
  border: 0px none;
}

DIV.Selected {
  float: left;
  width: 240px;
  height: 25px;
  /*background-color: #F5F5DC;*/
  border: 0px none;
}

/** Tables **/
TABLE.onglets {
  border : 0px none;
  width: 800px;
  border-collapse: collapse;
}

TABLE.Contenu {
  width : 100%;
}

TD.Contenu {
  border : 1px solid black;
  padding : 4px;
}

TD.ContenuVide {
  text-align: left;
  vertical-align: top;
  border: 0px none;
  padding: 2px;
}

/** Classes **/
.validPage {
  border: 0px none;
  background-color: rgb(80,120,150);
}

.aValidPage {
  border: 0px none;
  background-color: rgb(80,120,150);
}

.btnsubmit {
  color : rgb(120,10,2);
  border-color: #6C8DA2;
  background-color: #BECBC5;
  border-style: solid;
  border-width: thin;
  width: 300px;
  height: 20px;
  text-align: center;
}

.btnDiapo {
  color : rgb(120,10,2);
  border-color: #6C8DA2;
  background-color: #BECBC5;
  border-style: solid;
  border-width: thin;
  height: 20px;
  text-align: center;
}

.btnAcceuil {
  padding: 4px;
}

.Contenu {
  border-collapse: collapse;
}

/** Element **/
#divCorps {
  float: top;
  text-align: center;
  width: 800px;
  margin: 10px auto 10px auto;
  border: 10px solid #507896;
  background-color : #F5F5DC;
}

#idPage {
  /*float: top;*/
  width: 780px;
  text-align: center;
  position: relative;
  border: 0px none;
  padding 10px;
  color : black;
  background-color : #F5F5DC;

  margin: 70px auto 10px auto;
}

#divTitlePage {
  color: #F5F5DC;
  background-color: #507896;
  width: 800px;
  height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 24pt;
  z-index: 1;
}


#accesFile {
  text-align : left;
  border : 1px;
  border-style : solid;
  border-color : black;
  padding : 10px;
  margin : 0px;
}

#divPitcureContent {
  text-align : center;
  width: 670px;
  height: 440px;
  border: 0px none;
  margin: 0px auto;
  padding-top: 0px;
  padding-bottom: 10px;
}

#contenuPhoto {
  text-align : center;
  width : 640px;
  height : 480px;
  border : 0px none;
  margin: 0px auto;
}

#photoImg {
  border : 5px white solid;
  margin: 0px auto;
  max-height: 480px;
}

#boutonsPhotos {
  text-align: center;
  margin: 0px auto;
}

#isDiapo {
  margin-bottom: 5px;
}

#defilTxt {
  width:100%;
  background-color: #A3B7B9;
  border-top: 1px solid #507896;
}

#basPage {
  color : black;
  background-color : #BBBBBB;
  border-top : 1px;
  border-color : rgb(80,120,150);
  border-style : solid;
  border-collapse : collapse;
}

#divPatienter {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  visibility: hidden;
  display: block;
  z-index: 5;
  background-color: black;
  text-align: center;
  vertical-align: center;
}

#divPatienterIntern {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  margin-top: -150px;
  margin-left: -150px;
  text-align: center;
  vertical-align: center;
}

#textPatienter {
  text-align: center;
  vertical-align: center;
  width: 100%;
  background-color: #D5DDE3;
}