#divCorps {
  top: 10px;
  left: 10px;
}

#divTitlePage {
  position: relative;

  text-align: center;
  font-weight: bold;
  font-size: 24pt;
  font-style : italic;
}

#divMenu, #divMiniMenu,#divValid {
  display : none;
  visibility: hidden;
}

#idPage {
  text-align: left;
  position: relative;

  /* color: #507896; */
}

code.script {
  display : block;
  visibility: visible;
}