#divCorps {
  top: 10px;
  left: 10px;
}

#divTitlePage {
  position: relative;
  height: 40px;

  text-align: center;
  font-weight: bold;
  font-size: 24pt;
  font-style : italic;
}

#divMenu, #divValid {
  display : none;
  visibility: hidden;
}

#idPage {
  text-align: center;
  position: relative;

  border-left: 2px solid #507896;
  border-top: 2px solid #507896;

  margin-left: 10px;
  padding: 10px;

  color: #507896;
  background-color : rgb(235,235,235);
}