/**********************/
/* feuille de style   */
/* tables.css         */
/* Pierre Contri      */
/* cree le 12/08/2011 */
/* mdf  le 12/08/2011 */
/**********************/

TABLE.Content {
  width : 100%;
}

TR.Content {
  vertical-align: top;
}

TD.Content {
  border : 1px dashed #8CA5AF;
  padding : 4px;
}

TD.DocumentContent, TD.TextContent, TD.MusicContent, TD.DocumentsListContent {
  text-align : left;
  vertical-align : top;
  border : 1px dashed #8CA5AF;
}

TD.EmptyContent {
  text-align: left;
  vertical-align: top;
  border: 0px none;
  padding: 2px;
}

