/**********************/
/* feuille de style   */
/* sitmus.css         */
/* Pierre Contri      */
/* cree le 11/11/2005 */
/* mdf  le 08/02/2015 */
/**********************/

/** corps **/
BODY {
  color: #507896;
  background-color: white;
}

H2 {
  margin-left: -0.02cm;
  margin-bottom: 0cm;
  border: 1px solid #507896;
  padding: 0.04cm;
  font-size: 15pt;
  text-align: left;
  font-weight: bold;
}

H3 {
  text-align: left;
}

H4 {
  text-align: left;
  font-style: italic;
  margin-left: 1.53cm;
  margin-bottom: 0cm;
}

H5 {
}

#cvTitle {
  border: 1px solid #507896;
  width: 100%;
}

.cvExperienceDescribe {
  margin-left: 1.48cm;
  text-indent: 0.03cm;
  margin-bottom: 0cm;
}

TABLE.skills {
  width: 100%;
  border: 0px none;
}

TR.skills {
  vertical-align: top;
}

TD.skills {
  width: 50%;
  vertical-align: top;
}

/** Elements **/

#idPage {
  max-width: 920px;

  text-align: left;
  position: relative;

  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#divTitlePage, #divMenu, #divMiniMenu {
  display: none;
  visibility: hidden;
}